<!DOCTYPE html>

<html>
<head>
    <title>Spinning Wheel - @ViewBag.PageTitle</title>
    <link rel="stylesheet" href="~/Styles/styles.css">
    <script type="text/javascript" src="~/Scripts/ext/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ext/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ext/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Models.js"></script>
    <script type="text/javascript" src="~/Scripts/WheelFunctions.js"></script>
    <script type="text/javascript" src="~/Scripts/WheelCanvas.js"></script>
    <script type="text/javascript" src="~/Scripts/ColorPicker.js"></script>
    <script type="text/javascript" src="~/Scripts/EditIdeas.js"></script>
</head>
<body>
    <header>
        <a href="/">Spin Wheel</a>
        <a href="/Options/Edit">Edit Options</a>
    </header>
    @RenderBody()
</body>
</html>